<!DOCTYPE html>
<html class='bg-gray-50 h-full' lang='en'>

    <head>
        {% block head %}
        {% include 'sections/header.html.tera' %}

        {% endblock head %}
        <meta name="description" content="{% block description %}Field notes on building dependable software, autonomous agents, and a life measured by results.{% endblock description %}">
        <title>{% block title %}{% endblock title %}</title>
    </head>

    <body id='app' class='h-full'>
<!--        navbar needs to be static-->
<div class="sticky top-0 z-50">
    {% include 'components/navbar.html.tera'%}
</div>
        <div id='content'>{% block content %}{% endblock content %}</div>
        <div id='footer'>
            {% block footer %}
            {% include 'sections/footer' ignore missing %}
            {% endblock footer %}
        </div>
    </body>
    <script src='/js/index.js'></script>

</html>